
#hold{
    width: 50vw;
    height: 50%;
    position: relative;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #B2E0A6;
    margin: auto;
    margin-top: 5%;
}
#n1{
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 3%;
    margin-left: 10%;
    margin-top: 30px;
    width: 60%;
    border: none;
    height: 35px;
    outline-color: green;
}
.aramide{
    height: 35px;
    width: 15%;
    border-radius: 5px;
    outline-color: #DB1F1F;
    border: none;
    background-color: green;
    color: white;
}
#juj{
    position: absolute;
    right: 0;
}
#light{
    margin-left: 5%;
    margin-top: 1%;
    background-color: #B2E0A6;
    color: white;
    border: none;
    border-radius: 25%;
}
#dark{
    background-color: #B2E0A6;
    color: rgba(0, 0, 0, 0.788);
    border: none;
}
.type{
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Pacifico', cursive;
    margin-left: 25%;
    font-weight: bolder;
    font-size: xx-large;
}
body{
    background: gray;
}
