*{
    margin: 0;
    box-sizing: border-box;
}

.all2{
    display: flex;
    justify-content: space-between;
}
button{
    background-color: inherit;
    color: black;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: large;
}
button:hover{
    background-color: #1877f2;
}
button:focus{
    font-weight:bolder ;
}
#hold{
    width: 40vw;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0px 0px 5px #15202b;
    background-color:#15202b1c ;
    margin: auto;
    margin-top: 20%;
}
#n1{
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 3%;
    margin-left: 10%;
    margin-top: 30px;
    width: 60%;
    border: none;
    height: 40px;
    outline-color:#1877f2;
    background-color: rgba(128, 128, 128, 0.342);
}
.aramide{
    height: 35px;
    width: 15%;
    border-radius: 5px;
    outline-color: #DB1F1F;
    border: none;
    background-color: #1877f2;
    color: white;
}
.aramide:hover{
    color: black;
}
#juj{
    position: absolute;
    right: 0;
}
#jujss{
    position: absolute;
    right: 0;
}
#light{
    margin-left: 5%;
    margin-top: 1%;
    color: rgb(255, 254, 254);
    border: none;
    border-radius: 25%;
}
.fa-sharp{
    color: black;
}
#dark{
    color: rgba(0, 0, 0, 0.788);
    border: none;
}
.type{
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Pacifico', cursive;
    margin-left: 25%;
    font-weight: bolder;
    font-size: xx-large;
}
body{
    background: white;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: larger;
}
#aside{
    width: 20%;
    background-color: #f7f9f9;
    margin-top: 2%;
    box-shadow: 0px 0px 5px #15202b;
    margin-bottom: 1%;
    margin-left: 1%;
    border-radius: 8px;
}
#aside button{
    border: none;
    border-radius: 5px;
    padding: 3%;
    margin-top: 2%;   
}
#task{
    
    margin-top: 3%;
    margin-left: 5%;
    margin-top: 5%;

}
#list{
    margin-top: 5%;
    margin-left: 5%;
}
#search{
    border: none;
    background-color:rgba(128, 128, 128, 0.342) ;
    border-radius: 5px;
    width: 70%;
    height: 4vh;
    margin-left: 5%;
    margin-top: 5%;
}
.line{
    border: 1px solid rgba(0, 0, 0, 0.308);
    width: 80%;
    margin-left: 5%;
    margin-top: 10%;
}
#set{
    margin-left: 15%;
    margin-top: 18%;
}
#light{
    display: none;
}
#dark{
    display: none;
}
#done{
    display: none;
}
#content{
    background-color: #f7f9f9;
    box-shadow: 0px 0px 5px #15202b;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-top: 2%;
    width: 70%;
}
.options{
    width: 20%;
}
#AddEvent{
    font-family: 'Pacifico', cursive;
    width: 30%;
    height: 5vh;
    border-radius: 8px;
    border: none;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1876f25e;
    height: 10vh;

}
 
.carts{
    margin-left: 1.5%;
}

.subject{
    font-family: 'Pacifico', cursive;
    margin-left: 35%;
    font-weight: bolder;
    font-size: xx-large;
}
#edit{
    border: none;
}
.carts #edit:nth-child(1){
    margin-left: 5%;
}
#clear{
    border: none;
    margin-left: 45%;
}
#holds{
    display: none;
}