@media (orientation:portrait) and (max-width: 540px) {
    .aramide{
        width: 40%;
        background-color: blue;
        margin: auto;
        margin-top: 10px;
    }
    #hold{
        display: flex;
        flex-direction: column;
    }
    #n1{
        margin: auto;
        width: 40%;
        margin-top: 20px;
    }
    #light{
    /* display: none; */
    /* border: 1px solid black; */
    width: 20px;
    /* margin-left: 0px; */
    }
    #dark{
    /* display: none; */
    /* border: 1px solid black; */
    width: 20px;
    margin-left: 20px;
    }    
}
@media (max-width: 896px){
    .aramide{
        width: 30%;
        background-color: blue;
    }
    #n1{
        width: 50%;
    }
    #light{
        margin-left: 5%;
        margin-top: 2%;

    }
}
@media (max-width: 667px){
    .aramide{
        width: 30%;
        background-color: blue;
    }
    #n1{
        width: 50%;
    }
    #light{
        margin-left: 8%;
        margin-top: 2%;

    }
}
@media (max-width: 915px){
    .aramide{
        width: 31%;

    }
    #n1{
        width: 50%;
    }
    #light{
        margin-left: 5.5%;
        margin-top: 2%;

    }
}
@media (max-width: 720px){
    .aramide{
        width: 31%;

    }
    #n1{
        width: 50%;
    }
    #light{
        margin-left: 7%;
        margin-top: 2%;

    }
}
@media (max-width: 540px){
    .aramide{
        width: 41%;

    }
    #n1{
        width: 50%;
    }
    #light{
        margin-left: 7%;
        margin-top: 4%;

    }
}