#todayList{
    display: none;
    width: 90%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-left: 5%;
    margin-top: 3%;
}
#today{
    background-color: whitesmoke;
    padding: 4px;
    display: none;
    border-radius: 100%;
}
#tsk{
    display: none;
    border-radius: 100%;
    padding: 4px;
}
#readtos{
    display: none;
}