#workList{
    display: none;
    width: 90%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0px 0px 5px #15202b;
    margin-left: 5%;
    margin-top: 3%;
}
#wid{
    background-color: whitesmoke;
    /* width: 13px; */
    padding: 4px;
    display: none;
    border-radius: 100%;
}
#web{
    display: none;
    border-radius: 100%;
    padding: 4px;
}
#readwid{
    display: none;
}