#frndList{
    display: none;
    width: 90%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-left: 5%;
    margin-top: 3%;
}
#fid{
    background-color: whitesmoke;
    /* width: 13px; */
    padding: 4px;
    display: none;
    border-radius: 100%;
}
#feb{
    display: none;
    border-radius: 100%;
    padding: 4px;
}
#readfid{
    display: none;
}